
@{
    ViewData["Title"] = "Mydata";
}

<h1>Mydata</h1>
<div class="row">
    <a class="nav-link text-dark" asp-area="" asp-controller="Doctors" asp-action="Register">Register As a Doctor</a>
</div>
